:root {
  --vh: 1vh;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  /*height: 100%;*/
}

.vertical-center-items {
  align-content: center;
  width: 100%;
  height: 100%;
}

.grid-item {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.asthma-red {
  background-color: #c50e23;
}

.asthma-background {
  background-image: url('./assets/images/1_Background.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  /*min-height: calc(var(--vh, 1vh) * 100.0);*/
}

.home-module {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100.0);
  padding-top: calc(var(--vh, 1vh) * 10.0);
  display: flex;
  flex-direction: column;
  /*align-content: center;*/
  align-items: center;
  /*background-image: url('./assets/images/lungs-640.jpg');*/
  /*background-size: 100% 100%;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
}

.home-header {
  height: calc(var(--vh, 1vh) * 20.0);
  align-content: center;
  text-align: center;
  color: #6d0712;
}

.kids-font {
  font-family:  "Kristen ITC", serif;
  color: #fd7647;
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.8);
}

.home-gray-container {
  background-color: rgba(50, 50, 50, 0.35);
  width: 80vw;
  height: calc(var(--vh, 1vh) * 65.0);
  padding-top: calc(var(--vh, 1vh) * 5.0);
  border-radius: 5px;
}

.home-links-container {
  margin-left: -10vw;
  height: calc(var(--vh, 1vh) * 60.0);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.home-link-item {
  height: calc(var(--vh, 1vh) * 7.0);
  margin-bottom: calc(var(--vh, 1vh) * 7.0);
  margin-left: 20%;
  width: 50%;
  color: white;
  font-size: calc(var(--vh, 1vh)* 4.0);
  display: grid;
  align-content: center;
  grid-template-columns: calc(var(--vh, 1vh)* 8.0) 1fr;
}

.home-link-item:hover {
  font-size: calc(var(--vh, 1vh)* 5.0);
  cursor: pointer;
}

.home-link-text {
  padding-top: calc(var(--vh, 1vh)* 0.4);
}

.asthma-navbar {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  color: white;
  text-align: center;
  height: calc(var(--vh, 1vh) * 14.7);
  font-size: calc(var(--vh, 1vh) * 3.4);
  @media only screen and (min-height: 1200px) {
    font-size: 40px;
  }
}

.nav-icon {
  color: white;
}

.nav-icon-portrait {
  font-size: 100%;
}

.nav-icon-landscape {
  font-size: 140%;
}

.replay-icon {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin-left: 10%;
}

.audio-control-container {
  width: 100%;
  justify-content: center;
}

.headers-container {
  padding: 0;
}

.headers {
  text-align: center;
  font-weight: normal;
  font-size: calc(var(--vh, 1vh) * 2.0);
  margin: calc(var(--vh, 1vh) * 0.6);
  @media only screen and (min-height: 1200px) {
    font-size: 30px;
    margin: 9px;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 23px;
    margin: 8px;
  }
}

.asthma-header {
  font-weight: bold;
  font-size: calc(var(--vh, 1vh) * 3.0);
  @media only screen and (min-height: 1200px) {
    font-size: 42px;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 34px;
  }
}

.sound-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 72vw;
  height: 84%;
  border-radius: 5px;
  box-shadow:
      0 12px calc(var(--vh, 1vh) * 12.0) calc(-1 * 10px) rgba(73, 50, 50, 0.8),
      0 10px calc(var(--vh, 1vh) * 1.2) calc(-1 * 10px) rgba(73, 50, 50, 0.7);
  padding: calc(var(--vh, 1vh) * 2.0);
  justify-content: center;
  align-content: center;
}

.list-row {
  display: grid;
  grid-template-columns: 1fr 30vw;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  height: calc(var(--vh, 1vh) * 14.2);
  border-bottom: 2px solid black;
}

.list-text {
  padding-left: calc(var(--vh, 1vh) * 1.0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 14.2);
}

.list-checkmark {
  display: flex;
  width: 100%;
  text-align: right;
  padding-right: calc(var(--vh, 1vh) * 1.5);
  align-items: center;
  justify-content: end;
  font-size: calc(var(--vh, 1vh) * 6.0);
  max-font-size: 72px;
  height: calc(var(--vh, 1vh) * 14.2);
}

.checkmark {
  text-align: right;
}

.grid-right {
  text-align: right;
}

.grid-left {
  text-align: left;
}

.text-items {
  font-size: calc(var(--vh, 1vh) * 3.0);
  @media only screen and (min-height: 1200px) {
    font-size: 36px;
  }
}

.asthma-orange-header {
  color: #fd7647;
  margin-bottom: 4px;
  font-size: calc(var(--vh, 1vh) * 2.5);
  @media only screen and (min-height: 1200px) {
    font-size: 30px;
  }
}

.asthma-orange {
  color: #fd7647;
  display: inline;
}

.asthma-blue {
  color: #47b4fd;
  display: inline;
}

.non-selected {
  color: #e2e3e6;
}

.selected {
  color: #70c679;
}

.cards-progress-bar {
  background-color: #6d0712;
  width: 1fr;
  height: calc(var(--vh, 1vh) * 2.0);
}

.cards-progress-tracker {
  background-color: white;
  height: calc(var(--vh, 1vh) * 2.0);
  transition: 0.2s;
}

.mid-text {
  height: calc(var(--vh, 1vh) * 9.0);
  margin-top: calc(var(--vh, 1vh) * (-2.0));
  color: #6d0712;
  z-index: 20;
  max-font-size: calc(var(--vh, 1vh) * 3.4);
}

.card-num-headers {
  font-weight: normal;
  font-size: calc(var(--vh, 1vh) * 3.5);
}

.deck-container {
  display: flex;
  align-items: center;
  height: calc(var(--vh, 1vh) * 78.3);
  justify-content: center;
}

.deck {
  position: absolute;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 55.0);
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.stacked-card {
  background-color: white;
  /*background-size: auto 85%;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center center;*/
  width: 60vw;
  max-width: 95vw;
  height: calc(var(--vh, 1vh) * 55.0);
  will-change: transform;
  border-radius: 3px;
  box-shadow:
      0 12px calc(var(--vh, 1vh) * 12.0) calc(-1 * 10px) rgba(73, 50, 50, 0.4),
      0 10px calc(var(--vh, 1vh) * 1.2) calc(-1 * 10px) rgba(73, 50, 50, 0.3);
  padding: calc(var(--vh, 1vh) * 2.0);
  /*justify-content: center;
  text-align: center;*/
}

.card-width {
  width: 60vw;
  max-width: 95vw;
}

.card-header {
  font-size: 150%;
  margin-bottom: calc(var(--vh, 1vh) * 2.0);
}

.card-header-small {
  font-size: 120%;
  margin-bottom: calc(var(--vh, 1vh) * 1.0);
}

.card-sub-header-small {
  font-size: 120%;
}

.card-header-tiny {
  font-size: 60%;
  margin-top: calc(var(--vh, 1vh) * -1.5);
}

/*.card-image {*/
/*  !*height: 30vh;*!*/
/*  object-fit: contain;*/
/*  width: 100%;*/
/*  max-height: 100%;*/
/*  !*max-width: 38vh;*!*/
/*}*/

.card-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  /*width: auto;*/
  /*height: auto;*/
  /*display: block;*/
}

.stacked-button-container {
  position: absolute;
  width: 100vw;
  top: calc(var(--vh, 1vh) * 50.0);
  left: 50vw;
  transform: translate(-50%, 0%);
  align-items: center;
  justify-content: center;
  display: grid;
  height: calc(var(--vh, 1vh) * 10.6);
  /*padding: 2vh 1.5vh 0 2vh;*/
  z-index: 100;
  grid-template-columns: 0.15fr 0.7fr 0.15fr;
  @media only screen and (max-width: 500px) {
    grid-template-columns: 0.2fr 0.6fr 0.2fr;
  }
}

.stacked-button-container-landscape {
  transform: translate(-50%, -10%);
  height: calc(var(--vh, 1vh) * 15.0);
}

.stacked-button {
  pointer-events: auto;
  border: 1px transparent solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(155, 155, 155, 0.6);
  transition: 0.3s;
  /*font-size: calc(7px + calc(var(--vh, 1vh) * 3.0));*/
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  width: calc(var(--vh, 1vh) * 8.0);
  height: calc(var(--vh, 1vh) * 8.0);
  max-width: 14vw;
  max-height: 14vw;
  margin: 0;
}

.stacked-button-landscape {
  width: calc(var(--vh, 1vh) * 13.0);
  height: calc(var(--vh, 1vh) * 13.0);
}

.stacked-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(150, 150, 150, 0.9);
}

.stacked-button:active {
  background-color: rgba(150, 150, 150, 0.8) !important;
  color: white !important;
  transition: 0.05s;
}

.intro-card-footer {
  margin-top: calc(var(--vh, 1vh) * -1.0);
  padding: 0 calc(var(--vh, 1vh) * 0.5) 0 calc(var(--vh, 1vh) * 0.5);
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  color: #7a7a7a;
}

.final-card-button-container {
  margin-top: calc(var(--vh, 1vh) * 2.0);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.click-through {
  pointer-events: none;
}

.quiz-headers {
  height: calc(var(--vh, 1vh) * 14.0);
  margin-top: calc(var(--vh, 1vh) * (-2.0));
  color: white;
  z-index: 20;
  max-font-size: calc(var(--vh, 1vh) * 3.4);
}

.quiz-text {
  font-weight: normal;
  margin-top: calc(var(--vh, 1vh) * (2.0));
  font-size: calc(var(--vh, 1vh) * 3.5);
}

.quiz-media-outer-container {
  width: 100vw;
  height: calc(var(--vh, 1vh)* 24.0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.quiz-media {
  object-fit: cover;
  height: calc(var(--vh, 1vh) * 24.0);
  width: calc(var(--vh, 1vh) * 24.0);
}

.quiz-card-outer-container {
  width: 100vw;
  height: calc(var(--vh, 1vh)* 73.3);
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  padding: 0;
}

.quiz-card-inner-container {
  height: 92.5%;
  width: 80vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-card-dividing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-card {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  background-color: white;
  width: 72vw;
  height: 84%;
  transition: 0.3s;
  border-radius: 3px;
  box-shadow:
      0 12px calc(var(--vh, 1vh) * 12.0) calc(-1 * 10px) rgba(73, 50, 50, 0.8),
      0 10px calc(var(--vh, 1vh) * 1.2) calc(-1 * 10px) rgba(73, 50, 50, 0.7);
  padding: calc(var(--vh, 1vh) * 2.0);
  /*margin: calc(var(--vh, 1vh) * 2.0) 0 calc(var(--vh, 1vh) * 2.0) 0;*/
}

.quiz-card:hover {
  cursor: pointer;
  width: 80vw;
  height: 93%;
  /*margin: 0;*/
}

.popup-container {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.popup {
  background-color: white;
  color: rgb(50, 50, 50);
  width: calc(var(--vh, 1vh) * 25.0);
  height: calc(var(--vh, 1vh) * 25.0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 3px;
  box-shadow:
      0 12px calc(var(--vh, 1vh) * 12.0) calc(-1 * 10px) rgba(73, 50, 50, 0.4),
      0 10px calc(var(--vh, 1vh) * 1.2) calc(-1 * 10px) rgba(73, 50, 50, 0.3);
  padding: calc(var(--vh, 1vh) * 2.0);
}

.answer-popup-icon {
  margin-bottom: calc(var(--vh, 1vh) * 2.0);
  width: calc(var(--vh, 1vh) * 8.0);
  height: calc(var(--vh, 1vh) * 8.0);
}

.reset-popup {
  flex-direction: column;
}

.summary-outer-container {
  width: 100vw;
  height: calc(var(--vh, 1vh)* 100.0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.congratulations-outer-container {
  width: 100vw;
  height: calc(var(--vh, 1vh)* 100.0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.inner-container {
  width: 80vw;
  margin: 0 0 calc(var(--vh, 1vh) * 1.0) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.congratulations-image-container {
  margin-top: calc(var(--vh, 1vh)* 10.0);
  height: calc(var(--vh, 1vh)* 35.0);
}

.media-container {
  height: calc(var(--vh, 1vh) * 28.0);
}

.summary-explanation-container {
  justify-content: flex-start;
  height: calc(var(--vh, 1vh) * 28.0);
  color: white;
  text-align: center;
  /*font-size: calc(var(--vh, 1vh) * 2.5);*/
  font-weight: normal;
}

.summary-button-container {
  height: calc(var(--vh, 1vh) * 8.0);
  font-size: calc(var(--vh, 1vh)* 2.5);
  margin-bottom: calc(var(--vh, 1vh) * 2.5)
}

.summary-image {
  object-fit: cover;
  height: calc(var(--vh, 1vh) * 28.0);
  width: calc(var(--vh, 1vh) * 28.0);
  border-radius: 50%;
}

.link-button {
  border: none;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  font-size: 100%;
  transition: 0.2s;
}

.link-button:hover {
  width: 100%;
  height: 100%;
  font-size: 111%;
}

.link-button:active {
  width: 100%;
  height: 100%;
  font-size: 111%;
}

.sound-button {
  border: 3px solid;
  background-color: white;
  width: 90%;
  height: 90%;
  border-radius: 8px;
  font-size: 100%;
  transition: 0.1s;
}

.sound-link-button {

}

.sound-card-inner-container {
  margin-top: calc(var(--vh, 1vh) * 2.0);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 11.0);
  font-size: calc(var(--vh, 1vh) * 2.5);
}

.reset-text-container {
  height: 22%;
}

.reset-text {
  font-size: calc(var(--vh, 1vh)* 2.0);
}

.reset-button-container {
  margin-bottom: 6%;
  height: 16%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset-button {
  color: white;
  background-color: rgb(20, 150, 220);
}

.reset-button:hover {
  background-color: rgb(30, 225, 255);
}

.reset-button:active {
  background-color: rgb(30, 225, 255);
}

.cancel-button {
  color: rgb(20, 150, 220);
  background-color: white;
}

.cancel-button:hover {
  background-color: white;
}

.cancel-button:active {
  background-color: white;
}

.final-card-button {
  color: white;
  background-color: rgb(250, 75, 10);
}

.final-card-button:hover {
  background-color: rgb(250, 75, 10);
}

.final-card-button:active {
  background-color: rgb(250, 75, 10);
}

.summary-button {
  color: rgb(20, 20, 20);
  background-color: white;
}

.summary-button:hover {
  background-color: white;
}

.summary-button:active {
  background-color: white;
}

.share-button {
  color: white;
  border: white solid calc(var(--vh, 1vh) * 0.3);
  background-color: rgba(255, 255, 255, 0);
}

.share-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.share-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.outline {
  border: 5px black solid;
}

body, html {
  overflow: hidden;
}

